*{
    margin: 0%;
    padding: 0%;
}

ul,li{
    list-style-type: none;
}

a:visited{
    color: #fff;
}

a:link{
    text-decoration: none;
    color: #87CEFA;
}

body {
    background-image: url("../imagens/musica2.jpg");
    background-size: 100%;
}

.fundo{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, .3);
}
div.esquerdo, div.direito  {
    float: left;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, .5);
}

.esquerdo  {
    margin-left: 10%;
    width: 25vw;
    height: 50vh;
}

.esquerdo_frase{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:white;
    font-size: 30px;
    margin-left: 40px;
    
}

.esquerdo_meio{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    color: white;
}

.esquerdo_meio1{
    font-family: Arial, Helvetica, sans-serif;  
    background: none;
    width: 350px;
    font-weight: bold;
    font-size: 14px;
    margin-top: 20px;
    color: #87CEFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_musica{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.btn_esquerdo{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 255, 255, 0.055);
    border-radius: 10px;
    margin-right: 40px;
    font-size:15px;
    padding: 12px;
    width: 50%;
    left: 90px;
    margin-top: 40px;
}

button:hover{
    background-color: rgba(34, 61, 71);
    transition: all .9s;
}

.direito  {
    margin-left: 25%;
    width: 25vw;
    height: 50vh;
}

.direito_frase{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color:white;
    font-size: 30px;
}

.logo_musica1{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.direito_meio{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 18px;
    margin-left: 30px;
    font-weight: bold;
    color: white;
}

.direito_meio1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 40px;
    color: #87CEFA;
    display: flex;
    justify-content: center;
    align-items: center;


}


.btn_direito{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(255, 255, 255, 0.055);
    border-radius: 10px;
    margin-right: 40px;
    font-size:15px;
    padding: 12px;
    width: 50%;
    left: 90px;
    margin-top: 40px;
}

.redes{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0, .5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.redes img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


.navegacao{
    position: absolute;
    top: 40px;
    left: 0px;
    width: 100%;
    height: 40px;
    background: rgb(0, 0, 0, .3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navegacao ul{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    font-weight: bold;
}

.navegacao ul li{
    margin-left: 100px;
    margin-top: 10px;
}

.btn_nav{
    position: relative;
    display: flex;
    justify-content: center;
    margin-left: 400px;
}
.btn_nav button{
    position: relative;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(34, 61, 71);
    border-radius: 10px;
    margin-right: 40px;
    font-size:15px;
    padding: 8px;
    width: 100px;

}