*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url("../imagens/musica2.jpg");
    background-size: 100%;
}

.conteudo{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .2);

}

.centro{
    float: left;
    padding: 20px;
    height: 60vh;
    width: 25vw;
    margin-top: 150px;
    margin-left: 10%;
    border-radius: 10px;
    background: rgb(0, 0, 0, .5);
    
}

.logo_login{
    width: 100px;
    height: 100px;
    margin-left: 120px;
    
}

.frase{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    font-size: 30px;
    
}

.caixa{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa input{
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    border-radius: 5px;
    color: black;
}

.caixa2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa2 input{
    padding: 10px;
    margin-top: 20px;
    width: 200px;
    border-radius: 5px;
    color: black;
}


.caixa1{
    margin-top: 10px;
}
.caixa1 a{
    margin-left: 100px;
    color: #87CEFA;
}


.caixa3{
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: none;
    cursor: pointer;
    outline: none;
    color: white;
    border: groove 1px;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    width: 50%;
    margin-top: 20px;
}
button:hover{
    background-color: rgb(255, 255, 255, .1);
}


.caixa4{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}

.caixa4 a{
    margin-left: 120px;
    color: #87CEFA;

}
